<div class="pop-up-auth">
	<form method='post' action="/users/sign_in">
		<div class="form_auth_close">
			Закрыть
		</div>
		<div class="form_auth_title">
			Войти
		</div>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" placeholder="E-mail">
		<input autocomplete="on" type="password" name="user[password]" id="user_password" placeholder="Пароль">
		<input name="user[remember_me]" checked="checked" value="1" type="checkbox" style="display: none;">

		<button>Войти</button>

	</form>
</div>

<div class="background">
	<div class="background_opacity"></div>
	<div class="content">
		<header>
			<img class="logo" src="/img/logo_black.png" alt="">

			<div class="div_button_auth_header">Войти</div>
		</header>
		<div class="clear"></div>

		<h1>
			Узнай о ходе строительства ЖК в реальном времени
		</h1>
		


		<div class="logo_list">
			<div class="logo_list_point">
				<img src="/img/logo_developers/1.png" alt="">
			</div>
			<div class="logo_list_point">
				<img src="/img/logo_developers/2.svg" alt="">
			</div>
			<div class="logo_list_point">
				<img src="/img/logo_developers/3.svg" alt="">
			</div>
			<div class="logo_list_point">
				<img src="/img/logo_developers/4.svg" alt="">
			</div>
			<div class="logo_list_point">
				<img src="/img/logo_developers/5.svg" alt="">
			</div>
			<div class="logo_list_point">
				<img src="/img/logo_developers/6.png" alt="">
			</div>
			
		</div>
	</div>
</div>