.progressbar {
  display: flex;
  margin-top: 200px;
}

.progressbar li {
  list-style-type: none;
  flex: 1;
  text-align: center;
  position: relative;
}

// .progressbar li:before {
//   content: '';
//   width: 15px;
//   height: 15px;
//   line-height: 15px;
//   border: 1px solid #ddd;
//   display: block;
//   text-align: center;
//   margin: 0 auto 5px auto;
//   border-radius: 50%;
//   background-color: white;
// }


.progressbar_dot {
  position: absolute;
  width: 17px;
  height: 17px;
  order: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 5px auto;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  transform: translate(-50%, 0%);

  &:hover {
    cursor: pointer;

  }
}

.progressbar_dot_active {
  background-color: #10C66E;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 7.5px;
  left: -50%;
  z-index: -1;
};


.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  // color: #10C66E;
}

.progressbar li.active:before {
  border-color: #10C66E;
  background-color: #10C66E;
}

.progressbar li.active + li:after {
  background-color: #10C66E;
}

.progressbar_dot_orange {
  background-color: #f7b032;
}


// .progressbar_active_tab {
//   position: relative;
//   height: 40px;
//   width: 60%;
//   background-color: white;
//   margin-left: auto;
//   margin-right: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 27px;
//   border-radius: 5px;
//   box-shadow: 0 15px 40px rgba(0,0,0,0.15);
// }

.progressbar_active_tab {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 200px;
    text-align: left;
    transform: translate(-9%, -440%) rotate(-45deg);
    z-index: -56;
    white-space: nowrap;
}


.progressbar_triangle {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -20px;


}


// .progressbar_active_tab:before {
//   content: "";
//   border-left: 7px solid transparent;
//   border-right: 7px solid transparent;
//   border-bottom: 7px solid white;
//   position: absolute;
//   top: -7px;
// };
