<header>
	<div class="content">
		<img class="logo" src="/img/logo_black.png" alt="">
		<a rel="nofollow" data-method="delete" href="/users/sign_out" class="div_button_auth_header">
	      Выйти
	    </a>
	</div>
</header>


<%= tag.div id: :dashboard, data: { house: @house.to_json, house_complex: @house_complex.to_json, stages: @stages.to_json } %>
