<header>
	<div class="content content-lk">
		<img class="logo" src="/img/logo_black.png" alt="">
		<div class="nav-right-side">
			<a class="nav-link div_button_auth_header" href="#"> Настройка Уведомления </a>
			<a rel="nofollow" data-method="delete" href="/users/sign_out" class="nav-link">
					Выйти
			</a>
		</div>
	</div>
</header>


<%= tag.div id: :dashboard, data: { house: @house.to_json, house_complex: @house_complex.to_json, stages: @stages.to_json } %>
